.container {
  margin: 0;
  padding: 0;
}
.navbar {
  border-bottom: 2px grey solid;
  background-color:#b8ae95;
}
.nav {
  font-size: 17px;
  margin-left: 10px;
  color: #000000;
}

.navbar-brand {
  margin: 3px;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center; 
  border-color: aqua;
}
