.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 15px 15px 15px 15px;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 100px;
    color: #07a129;
    background-color: #ffffff;
    cursor: pointer;
  }
  .btn:hover {
    font-weight: bold;
  }
  .btn:disabled {
    background-color: #505255;
    pointer-events: none;
  }
  .list {
    border: none;
    border-radius: 8px;
    list-style: decimal;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    background-color: #ffffff;
    font-weight: bold;
    color: #ffffff;
  }
  .listItem {
    margin-right: 10px;
    color: #07a129;
  }
  .box {
    border-radius: 8px;
    background-color: #07a129;
    color: #ffffff;
  }
  .err {
    border-radius: 4px;
    padding: 5p;
    background-color: #bd1717;
    color: #ffffff;
  }
  .text {
    margin-left: 10px;
    margin-right: 20px
  }
  .input {
    margin-left: 10px;
    margin-right: 10px
  }